/*********************************************************************************************
************************************ DEFAULT & REUSABLES VARIABLES ***************************
*********************************************************************************************/
@media (max-width: 830px) {
  .section-head2 {
    font-size: 25px;
  }

  .section-head3 {
    font-size: 22px;
  }

  .section-par {
    font-size: 16px;
  }
}

/*******************************************************************************************
************************************ HEADER + NAVIGATION *************************************
*********************************************************************************************/
@media (max-width: 780px) {
  header {
    position: relative;
  }

  nav {
    position: absolute;
    top: 70px;
    background-color: #020c19;
    width: 100%;
    display: none;
    z-index: 10;
    height: 100vh;
  }

  header nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 70vh;
  }

  header nav a {
    font-size: 45px;
  }

  .menu-icon {
    display: block;
    color: #fff;
    font-size: 35px;
  }
}

@media (min-width: 780px) {
  nav {
    display: block !important;
  }
}

/*********************************************************************************************
  ******************************************** WELCOME *****************************************
  *********************************************************************************************/

@media (max-width: 1000px) {
  .welcome-wrap h1 {
    font-size: 40px;
  }
}
@media (max-width: 830px) {
  .welcome-wrap h1 {
    font-size: 35px;
  }
}
@media (max-width: 780px) {
  .welcome-wrap h1 {
    font-size: 30px;
  }

  .welcome-wrap p {
    font-size: 18px;
  }

  .welcome-img-wrapper {
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 60%;
  }

  .welcome-img-wrapper img {
    width: 100%;
    animation: floating 5s alternate infinite linear;
  }

  /********************************** Animace létajícího erbu *********************************/

  @keyframes floating {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(70px);
    }
  }
}

/*********************************************************************************************
******************************************* HISTORY *****************************************
*********************************************************************************************/

@media (max-width: 780px) {
  .history-list li {
    width: 100%;
  }
}

/*********************************************************************************************
******************************************* NEWS *********************************************
*********************************************************************************************/

@media (max-width: 780px) {
  .news-content {
    flex-direction: column;
  }
}

/*********************************************************************************************
  ******************************************* FOOTER ******************************************
  *********************************************************************************************/
@media (max-width: 780px) {
  footer {
    font-size: 14px;
    padding: 15px;
  }
}
@media (max-width: 780px) {
  .footer-contact {
    text-align: justify;
    margin-right: 20px;
  }
}
