/*******************************************************************************************
************************************ HEADER + NAVIGATION *************************************
*********************************************************************************************/
@media (max-width: 1380px) {
  .welcome-text-block h1 {
    font-size: 35px;
  }
}

/* @media (min-width: 1366px) {
    nav a {
      font-size: 25px;
    }
  } */

@media (max-width: 1080px) {
  .welcome-text-block h1 {
    font-size: 30px;
  }
}

@media (max-width: 900px) {
  header {
    position: relative;
  }

  nav {
    position: absolute;
    top: 70px;
    background-color: #020c19;
    width: 100%;
    display: none;
    z-index: 10;
    height: 100vh;
  }

  .menu-icon {
    display: block;
    color: #fff;
    font-size: 23px;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin: 20px 0;
    font-size: 30px;
  }

  .image-wrapper {
    width: 70%;
    bottom: 50px;
  }

  .image-wrapper img {
    padding: 20px 0;
    margin-bottom: -200px;
  }
  @keyframes floating {
    0% {
      transform: translateY(20px);
    }
    100% {
      transform: translateY(50px);
    }
  }

  .student-login input {
    width: 60%;
  }
  .home-up {
    display: none;
  }

  .news-content {
    flex-direction: column;
  }
}
