/*******************************************************************************************
************************************ HEADER + NAVIGATION *************************************
*********************************************************************************************/
@media (max-width: 780px) {
  header {
    position: relative;
  }

  nav {
    position: absolute;
    top: 70px;
    background-color: #020c19;
    width: 100%;
    display: none;
    z-index: 10;
    height: 100vh;
  }

  header nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 70vh;
  }

  header nav a {
    font-size: 45px;
  }

  .menu-icon {
    display: block;
    color: #fff;
    font-size: 35px;
  }
}

/*********************************************************************************************
******************************************** WELCOME *****************************************
*********************************************************************************************/
